<div class="col-md-12">
  <ul>
    <% @products.each do |product| %>
      <div class="col-md-4">
        <li><%= link_to product.title, admin_product_path(product) %></li>
      </div>
    <% end %>
  </ul>
</div>
