<div class="row">
  <div class="col-md-6">
    empty
  </div>
  <div class="col-md-6">
    <div class="product-desc" style="padding-top:100px;">
      <%= @product.description %>
    </div>

    <div class="product-quantity">
      <%= @product.quantity %>
    </div>

    <div class="product-price">
      <%= @product.price %>
    </div>

  </div>
</div>
