/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "footer";
@import "navbar";
@import "products";
@import "social-share-button";

/* product-index*/
.product-index-page {
  margin-top: 15px;
   padding: 15px;
   border: none;
   transition: box-shadow 0.5s;
   box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
   background-color: #fff;
   border-radius: 4px;
}
.product-item-pic {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;

}
.product-item-pic:hover {
  border: 1px solid #F4F3F3;
  border-radius:5px;
  transition: box-shadow 0.5s;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.product-item-pic img {
  width: 100%
}
.product-item-pic img.thumbnail {
border: none;
}


/*背景颜色*/
.all-background {
  background-color: #F4F3F3;
}

/* comments */
 textarea.form-control {
   height: 120px;
 }

 .pro-comment-btn .btn{
   width: 200px;
 }

 .comment-time {
   margin-top: 30px;
   padding-left: 220px;
   font-size: 50%;
 }

/* login/signup page*/
.login-page{
  width: 400px;
  border: 1px solid #828589;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  right: 400px;
}
.login-page-photo {
  background-image: url('http://cp1.douguo.net/upload/caiku/4/f/e/yuan_4fbd41ad3f86a126d8e66f8ff386b42e.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 800px;
  margin-top: -100px;
}
.form-actions .btn-danger {
  width: 300px;
}

/* universe */
html,body{
  height: 100%;
  font-family:"Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
  font-size:15px;
  line-height: 1.5;
  background-color: rgb(255,255,255);
  font-weight: 200;

}

#header{
  width: 100%;

}

#holder{
  min-height: 100%;
  position: relative;
}

#body{
  padding-bottom: 100px;
}

#navigation{
  background-color:#FAFAFA;
  border-radius: 0px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -webkit-transition:all 0.6s ease-in-out; /*让「谷歌浏览器」支持这个属性*/
  -moz-transition:all 0.6s ease-in-out; /*让「火狐浏览器」支持这个属性*/
  -o-transition:all 0.6s ease-in-out; /*让「safari」支持属性*/
  -ms-transition:all 0.6s ease-in-out; /*让「IE浏览器」支持这个属性*/

}

#navigation:hover{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

#footer{
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
}



/* search */
#search-id{
  width: 400px;
  padding-top: 7px;

}
