/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "footer";
@import "navbar";
@import "products";
@import "social-share-button";
@import "masonry/fluid";


/*背景颜色*/
.all-background {
  // background-color: #F4F3F3;
  background-color:white;
}



/* universe */
html,body{
  height: 100%;
  font-family:"Heiti SC","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",verdana;
  font-size:15px;
  line-height: 1.5;
  background-color: rgb(255,255,255);
  font-weight: 200;

}

#header{
  width: 100%;

}

#holder{
  min-height: 100%;
  position: relative;
}

#body{
  padding-bottom: 100px;
}

#navigation{
  background-color:#FAFAFA;
  border-radius: 0px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -webkit-transition:all 0.6s ease-in-out; /*让「谷歌浏览器」支持这个属性*/
  -moz-transition:all 0.6s ease-in-out; /*让「火狐浏览器」支持这个属性*/
  -o-transition:all 0.6s ease-in-out; /*让「safari」支持属性*/
  -ms-transition:all 0.6s ease-in-out; /*让「IE浏览器」支持这个属性*/

}

#navigation:hover{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

}

#footer{
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
}



/* search */
#search-id{
  width: 400px;
  padding-top: 7px;

}
