.navbar-fixed-top{
  top:0;
  border-width:0 0 1px;
  position:fixed;
  right:0;
  left:0;
  z-index:1030;

}

.navbar-fixed{
  
}

.round-image-50{
  background-color:white;
  border: 1px solid #d9d9d9;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  height:50px;
  width:50px;
  overflow:hidden;
  text-align:center;
  padding:0;
  img{
    width:100%
  }
}

.navbar-header{
  display: inline-block;

  a{
    font-size: 1.5em;
    img{
      padding-bottom:5px;
    }
  }
}

/* login/signup page*/
.login-page{
  width: 400px;
  border: 1px solid #828589;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  right: 400px;
}
.login-page-photo {
  background-image: url('http://cp1.douguo.net/upload/caiku/4/f/e/yuan_4fbd41ad3f86a126d8e66f8ff386b42e.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 800px;
  margin-top: -100px;
}
.form-actions .btn-danger {
  width: 300px;
}
