<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h2 class="headline">
        <span class="first-letter">Kitchen Sharing</span>
      </h2>
      <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fg6tz516oxj31hc0qyq7l.jpg" alt="">
    </div>
    <div class="item">
      <h2 class="headline">
        <span class="second-letter">Free Kitchen</span>
      </h2>
      <img src="https://res.bestcake.com/images/new-product/new_product_03.jpg?v=113" alt="">
    </div>
    <div class="item">
      <h2 class="headline">
        <span class="second-letter">Free Kitchen</span>
      </h2>
      <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fg6x4nx4ckj31hc0qyq7h.jpg" alt="">
    </div>
  </div>
</div>
