<div id="myCarousel" class="carousel fade-carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active show-1">
      <h2 class="headline">
        <span class="first-letter">Kitchen Sharing</span>
      </h2>
      <h4 class="subline">
        <span>Mum Cook</span>
      </h4>
    </div>
    <div class="item show-2">
      <h2 class="headline2">
        <span class="second-letter"></span>
      </h2>
    </div>
    <div class="item show-3">
      <h2 class="headline3">
        <span class="second-letter"></span>
      </h2>
    </div>
  </div>
</div>
