
<div class="row masonry-container transitions-enabled">
    <% @products.each do |product| %>
      <div class="box panel panel-default col-xs-6">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.image)%>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>
        <div class="panel-body">
          <%=  product.description %>
        </div>
      </div>
    <% end %>
</div>
