<!DOCTYPE html>
<html>
  <head>
    <title>MumCook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="holder">
      <div class="container-fluid all-background">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
